<div class="container">
     <header>
          <h1 class="gradiant">YU-GI-OH!</h1>
     </header>
     <body>
          <div class="group-buttons">
               <a routerLink="/duelo-por-nombre" class="btn btn-menu"> 
                    <span class="gradiant"> Modo Duelo </span>    
               </a>
               <!-- <a routerLink="/modo-mazo" class="btn btn-menu"> 
                    <span class="gradiant"> Modo Mazo </span>      
               </a>
               <a routerLink="/coleccion" class="btn btn-menu"> 
                    <span class="gradiant"> Colección </span>     
               </a> -->
          </div>
     </body>
</div>
